.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title-map {
  margin: 20px 0;
  font-family: Roboto Slab, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.small-title {
  margin: 4px 0;
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}